#canvas_game{
    border-right:black 1px solid;
    border-bottom:black 1px solid;
    min-width: 700px;
    min-height: 700px;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    resize: both;
    height: same-as-width
}